

h2, h3, h4{
  text-align:  center;
  font-family: "Comic Sans MS", cursive, sans-serif
}

#selfie{
  display:block;
    margin:0 auto;
    width:200px;
    border-style: solid;
    border-width: 5px;
    border-radius: 60%;
}



#middleSection {
  border-style: inset;
  border-radius: 25px;
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-color: #b3caef;
  background-blend-mode: screen;
}

div, body{

  color: white;
  
}
  

.container {
    display:table;
    width: 100%;
    margin-top: -50px;
    padding: 50px 0 0 0; 
    box-sizing: border-box;
}

a {
  color: white;
}

